@(events: List[(Event, Option[String])])

    @main("Welcome to Play") {


        @for((event, link) <- events) {

            <div class="pure-u-1-12">
                <h2 class="date">@event.date.format("dd/MM")</h2>
            </div>

            <div class="pure-u-11-12">
                <h2>@event.name</h2>
                @if(link.isDefined) {
                    <iframe src="https://embed.spotify.com/?uri=@link" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
                }
            </div>
        }
    }
